<!DOCTYPE html>
<html lang="en">

<head>
<!-- jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<!-- SimplePagination.js -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script> -->

    <script src="client.js" defer></script>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <title> UTDesign FabLab </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" type="image/jpg" href="address-card-regular.svg" />
    <link rel="stylesheet" href="styles.css">
</head>

<div class="header">
    <img src="utdallas.png" alt="UTD logo">
    <h1>Tool Access Portal</h1>
    <div class="search">
        <form action="#" class="search-bar">
            <input type="text" placeholder="    Search" name="search">
            <button>
                <i class="fa-solid fa-magnifying-glass" style="font-size: 18px;">
                </i>
            </button>
        </form>
    </div>
</div>

<div class="footer">
    <div class="download">
        <form action="#" class="button-bar" id="download-btn">
            <button>
                <i class="fa-solid fa-download" style="font-size: 18px;">
                </i>
            </button>
            <span class="tooltip">Download Table</span>
        </form>
    </div>
</div>  

<body>
    <div class="section">
        <div class ="options-display">
            <!-- for all log data: -->
            <h2>Viewing All Log Data</h2>
            <!-- for specific machine log data: -->
        </div>
        <div class="table-container">
            <table id="userTable">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Is Admin?</th>
                        <th>Machine Type</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>      
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach(user => { %>
                        <tr>
                            <td><%= user.userID %></td>
                            <!-- if userAdminstatus = 1, then say true, else false -->
                            <td><%- user.adminStatus == 1 ? '<p style="color:#32CD32;">Yes</p>' : 'No' %></td>
                            <td><%= user.machineType %></td>
                            <td><%= user.date.toLocaleDateString() %></td>
                            <td><%= user.startTime %></td>
                            <td><%= user.endTime %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>    
        <header>
            <a id="credits">Maximum Display: <%= limit %> rows</a>
        </header>
    </div>

    <div class="sidebar close">
        <span class="fas fa-bars" id="bars"></span>
        <ul class="nav-links">
            <li>
                <a href="#" id="home_btn">
                    <i class="fa-solid fa-house"></i>
                    <span class="link_name">Home</span>
                </a>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        <span class="link_name">Machines</span>
                    </a>
                    <i class='fa-solid fa-angle-up arrow'></i>
                </div>
                <!-- <ul class="sub-menu" id="machine-list">
                    <li><a class="link_name" href="#">Machines </a></li>
                    <li><a href="#">Drill</a></li>
                    <li><a href="#">Angle Grinder</a></li>
                    <li><a href="#">Belt Sander</a></li>
                    <li><a href="#">Drill Press</a></li>
                    <li><a href="#">Chop Saw</a></li>
                    <li><a href="#">Miter Saw 1</a></li>
                    <li><a href="#">Miter Saw 2</a></li>
                    <li><a href="#">H. Bandsaw</a></li>
                    <li><a href="#">Table Saw</a></li>
                    <li><a href="#">Scroll Saw</a></li>
                </ul> -->
                <ul class="sub-menu" id="machine-list">
                    <li><a class="link_name" href="#">Machines </a></li>
                    <% machines.forEach(machine => { %>
                      <li><a href="#"><%= machine.MachineType %></a></li>
                    <% }); %>
                  </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="fa-solid fa-business-time"></i>
                        <span class="link_name">Time</span>
                    </a>
                    <i class='fa-solid fa-angle-up arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Time</a></li>
                    <div class="dropdown">
                        <button onclick="myFunction('january')" class="dropbtn">January</button>
                        <div id="januaryDropdown" class="dropdown-content" itemid="01">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>
                            <li><a href="#">31</a></li>
                        </div>

                        <button onclick="myFunction('february')" class="dropbtn">February</button>
                        <div id="februaryDropdown" class="dropdown-content" itemid="02">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                        </div>

                        <button onclick="myFunction('march')" class="dropbtn">March</button>
                        <div id="marchDropdown" class="dropdown-content" itemid="03">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>
                            <li><a href="#">31</a></li>
                        </div>
                        <button onclick="myFunction('april')" class="dropbtn">April</button>
                        <div id="aprilDropdown" class="dropdown-content" itemid="04">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>
                        </div>

                        <button onclick="myFunction('may')" class="dropbtn">May</button>
                        <div id="mayDropdown" class="dropdown-content" itemid="05">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>
                            <li><a href="#">31</a></li>
                        </div>

                        <button onclick="myFunction('june')" class="dropbtn">June</button>
                        <div id="juneDropdown" class="dropdown-content" itemid="06">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>
                        </div>

                        <button onclick="myFunction('july')" class="dropbtn">July</button>
                        <div id="julyDropdown" class="dropdown-content" itemid="07">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>
                            <li><a href="#">31</a></li>
                        </div>

                        <button onclick="myFunction('august')" class="dropbtn">August</button>
                        <div id="augustDropdown" class="dropdown-content" itemid="08">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>
                            <li><a href="#">31</a></li>
                        </div>

                        <button onclick="myFunction('september')" class="dropbtn">September</button>
                        <div id="septemberDropdown" class="dropdown-content" itemid="09">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>

                        </div>

                        <button onclick="myFunction('october')" class="dropbtn">October</button>
                        <div id="octoberDropdown" class="dropdown-content" itemid="10">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>
                            <li><a href="#">31</a></li>
                        </div>

                        <button onclick="myFunction('november')" class="dropbtn">November</button>
                        <div id="novemberDropdown" class="dropdown-content" itemid="11">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>
                        </div>

                        <button onclick="myFunction('december')" class="dropbtn">December</button>
                        <div id="decemberDropdown" class="dropdown-content" itemid="12">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#">12</a></li>
                            <li><a href="#">13</a></li>
                            <li><a href="#">14</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">16</a></li>
                            <li><a href="#">17</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">19</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">21</a></li>
                            <li><a href="#">22</a></li>
                            <li><a href="#">23</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">26</a></li>
                            <li><a href="#">27</a></li>
                            <li><a href="#">29</a></li>
                            <li><a href="#">30</a></li>
                            <li><a href="#">31</a></li>
                        </div>
                    </div>
                </ul>
            </li>
            <li>
                <a href="#" id="delete-machine-btn">
                    <i class="fa-solid fa-trash"></i>
                    <span class="link_name">Delete Machine</span>
                </a>
            </li>
            <li>
                <a href="#" id="add-machine-btn">
                    <i class="fa-solid fa-plus"></i>
                    <span class="link_name">Add Machine</span>
                </a>
            </li>
        </ul>

        <script>
            let arrow = document.querySelectorAll(".arrow");
            for (var i = 0; i < arrow.length; i++) {
                arrow[i].addEventListener("click", (e) => {
                    let arrowParent = e.target.parentElement.parentElement;
                    console.log(arrowParent.classList)
                    arrowParent.classList.toggle("showMenu");
                });
            }
            
            let sidebar = document.querySelector(".sidebar");
            let sidebarBtn = document.querySelector("#bars");
            console.log(sidebarBtn);
            sidebarBtn.addEventListener("click", () => {
                sidebar.classList.toggle("close");
            });

            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction(month) {
                var dropdown = document.getElementById(month + 'Dropdown');
                dropdown.classList.toggle('show');
            }

            // Close the dropdown menu if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
    </div>

</body>

</html>